<h1>Welcome to Binary Battle!</h1>

<% if @competitors != nil %>
  <% @competitors.first(1).each do |competitor| %>
    <h3>May the best <%= competitor.competitor_type %> win!</h3>
  <% end %>

    <% @competitors.first(1).each do |competitor| %>
      <p>Which <%= competitor.competitor_type %> is the best <%= competitor.competitor_type %>?</p>
    <% end %>

    <% @competitors.first(2).each do |competitor| %>
      <p>
        Vote for <%= competitor.name %> here!
          <form action = "/results/<%= competitor.id %>" method = "post">
            <input type = "submit" value = "Vote">
          </form>
      </p>
    <% end %>

<% else %>

  <h3>No competitors.  If you want to battle, you'll need to add some.</h3>

<% end %>
<p>
  <a href = "/form_to_add_competitor">Click here to add competitors</a>
</p>
<p>
  <a href = "/all_competitors">Click here to see a list of competitors</a>
</p>
