<% @ordered_planets.each do |p| %>
<%= p.planet %> - 
<%= p.points %> points
<br>
<% end %><br>
<br>
<br>Testing choice bias:
<br>
<% @showdowns.each do |s| %>
Round <%= s.id %>:
The first choice has been selected <%= s.frequency_one %> times, and the 
second choice has been selected <%= s.frequency_two %> times.

<br>
<% end %>
<br>
<a href="/">Vote again</a>