<center><h1> Add Battle</h1>

<!-- RETURNS conditional method when controller returns to add screen-->
<!--  due to an "active" pre-existing entry check being flaggged as True in controller  -->
<% if @error == true %>
  <p><%= @pool.get_already_exists_error %></p>
  <br>
  <br>
<% end %>
<form  method="POST" action="/battles/add/confirmation">
  Session Title :&emsp;<input type="text" name="add_name" value="<%= params[:add_name] %>">&emsp;&emsp;
  
  Category:&emsp;<select name="pool_category_dropdown">  
    <% @categories.each do |c| %>
      <option value="<%= c.id %>"<%= "selected" if c.id.to_s == params[:pool_category_dropdown] %>><%= c.name %></option>
    <% end %>  
  </select>
  <br>
  <br>
  Optional image URL:&emsp;<input type="text" name="add_pool_image_link" value="<%= params[:add_pool_image_link] %>">&emsp;&emsp;

  Optional Thumbnail URL:&emsp;<input type="text" name="add_pool_thumbnail_link" value="<%= params[:add_pool_thumbnail_link] %>">
    
  <br>
  <br>
  Include an optional description of your battle event:<br>
  <textarea name="pool_description_textarea" cols="70" rows="8">
    <%=  params[:pool_description_textarea] %>
    </textarea>
 <br>
 <br>
  <% @nominees.each do |n| %>
    <%if n.locked == false && n.id != nil %>
      <input type="checkbox" name= "nominees[]" value=<%= n.id %> checked= <%= n.id == params[:nominees[n.id]] ? "checked" : "unchecked" %>><%= n.name %> <br>
    <% end %>
  <% end %>
  <br><br>    
  <input type="submit" value="Create">
</form>
<br><br>

</center> 