<center><h1> Add New Nominee</h1>

  <form  method="POST" action="/nominees/add/confirmation">

  <% if @duplicate_nominee_warning == true %>
    <p><%= @nominee.already_exists_error %></p>
    <br>
    <br>
    <% end %>

    Name:&emsp;<input type="text" required="required" name="add_nominee_name_textbox" value="<%= params[:add_nominee_name_textbox] %>">&emsp;&emsp;&emsp;

    Image Link:&emsp;<input type="text" name="add_nominee_image_link" value="<%= params[:add_nominee_image_link] %>">
    &emsp;&emsp;
    <br>
    <br>
    Include an optional description of your nominee below:<br>
    <textarea name="nominee_bio_textarea" cols="70" rows="8">
    <%=  params[:nominee_bio_textarea] %>
    </textarea>
    
    <br>
    <br>
    <h3> Select the categories you would like your nominee to appear in: </h3>
      <% @categories.each do |c| %>
    <%if c.locked == false && c.id != nil %>
      <input type="checkbox" name= "checkbox_categories[]" value=<%= c.id %>><%= c.name %> <br>
    <% end %>
  <% end %>
  <br>
  <br>
     <% if @duplicate_nominee_warning == true %>
    <input type="radio" name="confirmed_radio" value=<%= true %>> I confirm that this nominee has not been registered.
  <br>
  <br>
  <% end %> 
  <br>
  <br>
  <input type="submit" value="Add Nominee">
</form>
<br>
<br>

</center> 