
  <h3><%=@competitor.name%>'s Matchup History</h3>

  <h4><%=@competitor.get_weighted_score%></h4>

  <h4><%=@competitor.name%> has faced:<br>
  <%=@competitor.get_opponent_ids%>
  </h4>

  <%@competitors_matchups.each do |m|%>
    <ul>
    <li><%=m.winner_name%> <%=m.loser_name%></li>
    </ul>
    <%end%>

    <h4>Matchups that have taken place that haven't involved <%=@competitor.name%>: <%=@competitors_matchups.count%></h4>

    <h4>Opponents Average Win Percentage: <%=@competitor.get_opponents_average_win_percentage%></h4>
  
    


  <table border="1">
    <thead>
      <tr>
      <th>Winner Name</th>
      <th>Loser Name</th>
      </tr>
    </thead>

    <tbody>
    <%@matchups.each do |m|%>
      <tr>
      <td><%=m.winner_name%></td>
      <td><%=m.loser_name%></td>
      </tr>
      <%end%>
    </tbody>
  </table>