
  <h3><%=@competitor.name%>'s Matchup History</h3>

  <h4><%=@competitor.name%> has faced:<br>
  <%=@competitor.get_opponents%>
  </h4>

  <%@competitors_matchups.each do |m|%>
    <ul>
    <li><%=m.winner_name%> <%=m.loser_name%></li>
    </ul>
    <%end%>

    <%=@competitors_matchups.count%>
  
    


  <table border="1">
    <thead>
      <tr>
      <th>Winner Name</th>
      <th>Loser Name</th>
      </tr>
    </thead>

    <tbody>
    <%@matchups.each do |m|%>
      <tr>
      <td><%=m.winner_name%></td>
      <td><%=m.loser_name%></td>
      </tr>
      <%end%>
    </tbody>
  </table>