<center><h1>Definitive Rankings of Spice Girl Superiority:</h1></center>


<p><a href="/competitor/add">Add Competitor</a></p>

<p><a href="/competitor/vote">Cast Your Vote</a></p>

<table border="1">
  <thead>
    <tr>
    <th>Matchup ID</th>
    <th>Winner</th>
    <th>Winner Win Count</th>
    <th>Winner Loss Count</th>
    <th>Winner Win Percent</th>
    <th>Loser</th>
    <th>Loser Win Count</th>
    <th>Loser Loss Count</th>
    <th>Loser Win Percent</th>
    <th>Faceoff History</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <%@matchups.each do |m|%>
    <td><%=m.id%></td>
    <td><%=m.winner_name%></td>
    <td><%=m.get_winner_win_count%></td>
    <td><%=m.get_winner_loss_count%></td>
    <td><%=m.get_winner_win_percent%></td>
    <td><%=m.loser_name%></td>
    <td><%=m.get_loser_win_count%></td>
    <td><%=m.get_loser_loss_count%></td>
    <td><%=m.get_loser_win_percent%></td>
    <%m.get_faceoffs.each do |m|%>
        <td>Winner: <%=m.winner_name%><br> Loser: <%=m.loser_name%></td>
      <%end%>
    </tr>
    <%end%>
  </tbody>
</table>


<table border="1">
  <thead>
    <tr>
    <th>Faceoff Winner</th>
    <th>Faceoff Loser</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <%@matchups[1].get_faceoffs.each do |m|%>
    <td><%=m.winner_name%></td>
    <td><%=m.loser_name%></td>
    </tr>
    <%end%>
  </tbody>
</table>



<table>
  <thead>
    <tr>
    <th>Spice</th>
    <th>Percent of battles won</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <%@rankings_hash.each do |key, value|%>
    <td><%=key%></td>
    <td><%=value%></td>
    </tr>
    <%end%>
    

  </tbody>

<table>
  <thead>
    <tr>
    <th>Spice</th>
    <th># of Wins</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <%@competitors.each do |c|%>
    <td><%=c.name%></td>
    <td><%=c.get_win_count%></td>
    </tr>
    <%end%>
    

  </tbody>


</table>
