<center><h1>Definitive Rankings of Spice Girl Superiority:</h1></center>


<p><a href="/competitor/add">Add Competitor</a></p>

<p><a href="/competitor/vote">Cast Your Vote</a></p>

<table border="1">
  <thead>
    <tr>
    <th>Matchup ID</th>
    <th>Winner</th>
    <th>Winner Win Count</th>
    <th>Winner Loss Count</th>
    <th>Winner Win Percent</th>
    <th>Loser</th>
    <th>Loser Win Count</th>
    <th>Loser Loss Count</th>
    <th>Loser Win Percent</th>
    <th>Faceoff History</th>
    <th>Faceoff Win Percent</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <%@matchups.each do |m|%>
    <td><%=m.id%></td>
    <td><%=m.winner_name%></td>
    <td><%=m.get_winner_win_count%></td>
    <td><%=m.get_winner_loss_count%></td>
    <td><%=m.get_winner_win_percent%></td>
    <td><%=m.loser_name%></td>
    <td><%=m.get_loser_win_count%></td>
    <td><%=m.get_loser_loss_count%></td>
    <td><%=m.get_loser_win_percent%></td>
    <td><ul><%m.get_faceoffs.each do |m|%>
        <li>Winner<br><%=m.winner_name%><br>Loser<br><%=m.loser_name%></li>
      <%end%>
        </ul>
    </td>
    <td><%=m.get_winner_faceoff_win_percent%></td>
    </tr>
    <%end%>
  </tbody>
</table>

<%@competitors.each do |c|%>
  <ul>
  <li><a href="/matchups/<%=c.id%>"><%=c.name%>'s Matchup History</a></li>
  </ul>
  <%end%>



<table>
  <thead>
    <tr>
    <th>Spice</th>
    <th>Percent of battles won</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <%@rankings_hash.each do |key, value|%>
    <td><%=key%></td>
    <td><%=value%></td>
    </tr>
    <%end%>
    

  </tbody>

<table>
  <thead>
    <tr>
    <th>Spice</th>
    <th># of Wins</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <%@competitors.each do |c|%>
    <td><%=c.name%></td>
    <td><%=c.get_win_count%></td>
    </tr>
    <%end%>
    

  </tbody>


</table>
