<h1>Current Results</h1>
<a href="/">Vote Again</a>
<h2>Most Wins: </h2>

<%= @legends.wins_hash %>

<ol>
<% @legends.each do |l| %>
  <li><%= "#{l.name} - #{l.wins_count}" %></li>
<% end %>
</ol>

<ul>
  <% @results.each do |r| %>
  
  <li><%= r.created_at %>: <%= r.winner.name %> defeated <%= r.loser.name %></li>

  <% end %>
</ul>

