<center><h1> <%= @category.name %> Results </h1>

<% @results.each do |key, value| %>

rank:<%= @rank += 1 %>&emsp;&emsp;|&emsp;&emsp; winner id:<%= key %> &emsp;&emsp;|&emsp;&emsp;#of times won:<%= value %>
<br>
<% end %>

<%= "-----------------------------------------------------------" %>
<br>
<% @results_breakdown.each do |key, value| %>
<%= key %> &emsp;&emsp;|&emsp;&emsp;<%= value %><br>
<% end %>

</center>