<h1 style="text-align:center"> Choose your favorite building!</h1> 


<form style="text-align: center" action="/building_vote/<%=@building1.id %>/<%=@building2.id%>" method="post">
  <input type="image" name="submit" src="<%=@building1.building_image%>" alt="Building"  height="50%" width="50%"/>
  <input type="hidden" name="loser" value="<%=@building2.building_name%>">
</form>

<form style="text-align: center" action="/building_vote/<%=@building2.id%>/<%=@building1.id%>" method="post">
  <input type="image" name="submit" src="<%=@building2.building_image%>" alt="Building"  height="50%" width="50%"/>
  <input type="hidden" name="loser" value="<%=@building1.building_name%>">
</form>


<p style="text-align: center"> <a href="/">Another Battle?</a> <p> 
<p style="text-align: center"> <a href="/show_buildings">View all Buildings?</a> <p> 
