  <center>
  <form  method="POST" action="/battles/battle/<%= @category.id %>/cast_vote">
<h1> <%= @category.name %> </h1>
<div class="container">     
  <img style="max-height:215px;max-width:851px;height: expression(this.height > 315 ? 315: true);width: expression(this.width > 851 ? 851: true);" src="<%= @category.get_image_or_placeholder %>" class="img-rounded"> 
</div>
<br>
<br> 
  <% @nominee_ids.each do |nominee| %>
     <input type="hidden" name="nominee_ids[]" value=<%= nominee %>>
  <% end %>
    <input type="hidden" name="category" value=<%= @category.id %>>


 <table border="0">
  <thead>
    <tr>
    <% @pool.each do |nominee| %>
      <% nominee = nominee.get_nominee_info %>
      <th>
        <div class="container">     
        <img style="max-height:200px;max-width:315px;height: expression(this.height > 200 ? 200: true);width: expression(this.width > 315 ? 315: true);" 
        src="<%= nominee.get_image_or_placeholder %>" class="img-circle"> </div>
         <h3>Vote for <%= nominee.name %></h3> <br><br>
          <input type="radio" name="battle_selection_radio" required="required" value=<%= nominee.id%>>
        </th>
        <th> &emsp;&emsp;&emsp;&emsp;</th>
        <% end %>
    </tr>
  </thead>
</table>
    <br>
    <input type="submit" value="Vote">
</form>
</center>