  <center>
  <form  method="POST" action="/battles/battle/<%= @category.id %>/cast_vote">
  <% @nominee_ids.each do |nominee| %>
     <input type="hidden" name="nominee_ids[]" value=<%= nominee %>>
  <% end %>
    <input type="hidden" name="category" value=<%= @category.id %>>
<% @pool.each do |nominee| %>
  <% nominee = nominee.get_nominee_info %>
    <input type="radio" name="battle_selection_radio" value=<%= nominee.id%>> <%= nominee.name %>&emsp;&emsp;&emsp;&emsp;
  <% end %> 
    <br>
    <br>
    <input type="submit" value="Vote">
</form>
</center>