<center>
<!-- <body background="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTBVVdeixlyESk0COAjKx5BxlLDNMG6mE4EvZrZYu9M4beyVtLVPQ"> -->

<h2>CHOOSE THE SUPERIOR '80s SEQUEL</h2>

<h3>
There can be but one,
<br />
choose wisely...
</h3>

-+-+-+-+-+-+-+-

<br />

<table>
  <tbody>
    <tr>
      <td>
        <center>
        <form action="/user_vote" method="post" id="button_1_vote">
          <input type="hidden" name="vote_button" value="1">
          <input type="hidden" name="upvote_id" value="<%= @movie_1.id %>">
          <input type="hidden" name="downvote_id" value="<%= @movie_2.id %>">
          <input type="image" form="button_1_vote" src="<%= @movie_1.movie_poster %>" title="<%= @movie_1.movie_title.upcase %>">
        </form>
        </center>
      </td>


      <td>
        <h2 style="color:red">-- VS --</h2>
      </td>

      <td>
        <center>
        <form action="/user_vote" method="post" id="button_2_vote">
          <input type="hidden" name="vote_button" value="2">
          <input type="hidden" name="upvote_id" value="<%= @movie_2.id %>">
          <input type="hidden" name="downvote_id" value="<%= @movie_1.id %>">
          <input type="image" form="button_2_vote" src="<%= @movie_2.movie_poster %>" title="<%= @movie_2.movie_title.upcase %>">
        </form>
        </center>
      </td>
    </tr>
  </tbody>
</table>

-+-+-+-+-+-+-+-

<br />

<p>
  <a href="/vote_record">Vote Record</a>
</p>

</center>

<p>
  <form action="/admin_sign_in" method="post">
    Password: <input type="password" name="password">
  </form>
</p>