<center>

<h2>Choose the Superior '80s Sequal</h2>

<h3>
<i>
There can be but one,
<br />
choose wisely...
</i>
</h3>

<br />

<form action="/user_vote" method="post">

<p>
  <h2><%= @movie_1.movie_title %></h2>
  
  <input type="hidden" name="upvote_id" value="<%= @movie_1.id %>">
  <input type="hidden" name="downvote_id" value="<%= @movie_2.id %>">
  <input type="submit" name="movie_1_vote" value="Vote">
</p>

</form>

<br />

<form action="/user_vote" method="post">

<p>
  <h2><%= @movie_2.movie_title %></h2>
  
  <input type="hidden" name="upvote_id" value="<%= @movie_2.id %>">
  <input type="hidden" name="downvote_id" value="<%= @movie_1.id %>">
  <input type="submit" name="movie_2_vote" value="Vote">
</p>
  
</form>

</center>