<center>

<h2>Choose the Superior '80s Sequal</h2>

<h3>
<i>
There can be but one,
<br />
choose wisely...
</i>
</h3>

<br />

<form action="/user_vote" method="post">

<p>
  <img src="<%= @movie_1.movie_poster %>" alt="<%= @movie_1.movie_title %>" style="width:15%;height:15%;">
  <br />
  <input type="hidden" name="upvote_id" value="<%= @movie_1.id %>">
  <input type="hidden" name="downvote_id" value="<%= @movie_2.id %>">
  <input type="submit" name="movie_1_vote" value="<%= @movie_1.movie_title %>">
</p>

</form>

<form action="/user_vote" method="post">

<p>
  <img src="<%= @movie_2.movie_poster %>" alt="<%= @movie_2.movie_title %>" style="width:15%;height:15%;">
  <br />
  <input type="hidden" name="upvote_id" value="<%= @movie_2.id %>">
  <input type="hidden" name="downvote_id" value="<%= @movie_1.id %>">
  <input type="submit" name="movie_2_vote" value="<%= @movie_2.movie_title %>">
</p>
  
</form>

</center>