<center>
<!--grey industrial-->
<!-- <body background="http://randomwallpapers.net/gray-abstract-cool-website-1920x1200-wallpaper320482.jpg"> -->

<!--blue geometric-->
<!-- <body background="http://7428.net/wp-content/uploads/2015/01/Waves-Geometric-Background-Design-Vector-.jpg"> -->

<!--plain grey-->
<!-- <body background="http://backgroundidea.info/wp-content/uploads/2015/03/light-background-colors-for-websites-maintainwp---keep-your-wordpress-website-safe-secure-wallpaper-hd.jpg"> -->

<!--blur geometric too small-->
<!-- <body background="http://oxygennacdn2.oxygenna.com/wp-content/uploads/2014/08/bg6-1024x640.jpg"> -->

<!--blue geometric 2-->
<!-- <body background="http://grindcreative.com/wp-content/uploads/2014/01/bg_geometric.png"> -->


<!-- <body background="http://i67.tinypic.com/oirrq9.jpg"> -->

<body background="http://i67.tinypic.com/52aof5.png">

<h2>CHOOSE THE SUPERIOR '80s SEQUEL</h2>

<h3>
There can be but one,
<br />
choose wisely...
</h3>

-+-+-+-+-+-+-+-

<br />

<table>
  <tbody>
    <tr>
      <td>
        <center>
        <form action="/user_vote" method="post" id="button_1_vote">
          <input type="hidden" name="vote_button" value="1">
          <input type="hidden" name="upvote_id" value="<%= @movie_1.id %>">
          <input type="hidden" name="downvote_id" value="<%= @movie_2.id %>">
          <input type="image" form="button_1_vote" src="<%= @movie_1.movie_poster %>" title="<%= @movie_1.movie_title.upcase %>">
        </form>
        </center>
      </td>


      <td>
        <h2 style="color:red">-- VS --</h2>
      </td>

      <td>
        <center>
        <form action="/user_vote" method="post" id="button_2_vote">
          <input type="hidden" name="vote_button" value="2">
          <input type="hidden" name="upvote_id" value="<%= @movie_2.id %>">
          <input type="hidden" name="downvote_id" value="<%= @movie_1.id %>">
          <input type="image" form="button_2_vote" src="<%= @movie_2.movie_poster %>" title="<%= @movie_2.movie_title.upcase %>">
        </form>
        </center>
      </td>
    </tr>
  </tbody>
</table>

-+-+-+-+-+-+-+-

<br />

<p>
  <a href="/vote_record" style="color:blue">Vote Record</a>
</p>

</center>

<br />

<p>
  <form action="/admin_sign_in" method="post">
    Password: <input type="password" name="password">
  </form>
</p>