<center>
  
<h2>VOTE STATS</h2>

<p>
  <a href="/vote_record">Back</a>
</p>

<p>
  <a href="/">Vote</a>
</p>

<p>
<table border="1"> 
  
  <thead>
    <tr>
      <th colspan="2"><%= @movie.movie_title.upcase %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
      <a href="/movie_round_stats/<%= @movie.id %>">Total Rounds:</a>
      </td>
      <td><center><%= @movie.total_rounds %></center></td>
    </tr>

    <tr>
      <td>Upvotes:</td>
      <td><center><%= @movie.movie_upvotes %></center></td>
    </tr>

    <tr>
      <td>Downvotes:</td>
      <td><center><%= @movie.movie_downvotes %></center></td>
    </tr>

    <tr>
      <td>Win Percent:</td>
      <td><center><%= @movie.movie_win_percent %> %</center></td>
    </tr>

    <tr>
      <td>Loss Percent:</td>
      <td><center><%= @movie.movie_loss_percent %> %</center></td>
    </tr>

    <tr>
      <td>Button 1 Upvotes:</td>
      <td><center><%= @movie.movie_button_1_up %></center></td>
    </tr>

    <tr>
      <td>Button 1 Downvotes:</td>
      <td><center><%= @movie.movie_button_1_down %></center></td>
    </tr>

    <tr>
      <td>Button 2 Upvotes:</td>
      <td><center><%= @movie.movie_button_2_up %></center></td>
    </tr>

    <tr>
      <td>Button 2 Downvotes:</td>
      <td><center><%= @movie.movie_button_2_down %></center></td>
    </tr>
</table>
</p>

</center>