<center>
  
<h2>Vote Stats for <%= @movie.movie_title %></h2>

<a href="/vote_record">Back</a>
<br />

<p>
<table border="1"> 
  
  <thead>
    <tr>
      <th colspan="2"><%= @movie.movie_title %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Total Rounds:</td>
      <td><%= @movie.total_rounds %></td>
    </tr>

    <tr>
      <td>Upvotes:</td>
      <td><%= @movie.movie_upvotes %></td>
    </tr>

    <tr>
      <td>Downvotes:</td>
      <td><%= @movie.movie_downvotes %></td>
    </tr>

    <tr>
      <td>Win Percent:</td>
      <td><%= @movie.movie_win_percent %> %</td>
    </tr>

    <tr>
      <td>Loss Percent:</td>
      <td><%= @movie.movie_loss_percent %> %</td>
    </tr>

    <tr>
      <td>Button 1 Upvotes:</td>
      <td><%= @movie.movie_button_1_up %></td>
    </tr>

    <tr>
      <td>Button 1 Downvotes:</td>
      <td><%= @movie.movie_button_1_down %></td>
    </tr>

    <tr>
      <td>Button 2 Upvotes:</td>
      <td><%= @movie.movie_button_2_up %></td>
    </tr>

    <tr>
      <td>Button 2 Downvotes:</td>
      <td><%= @movie.movie_button_2_down %></td>
    </tr>
</table>
</p>

<a href="/">Vote</a>
<br />
</center>