<center>
  
<h1>BEHOLD</h1>
<h4>
FOR IT HAS BEEN SAID
<br />
THAT
</h4>
-+-+-+-+-+-+-+-
<p>
  <strong style="color:green">
  <%= @upvote.movie_title.upcase %>
  </strong>

  <br />

  <a href="/movie_stats/<%= @upvote.id %>">
  <img src="<%= @upvote.movie_poster %>" style="width:15%;height:15%;">
  </a>

  <h2>TROUNCES</h2>

  <strong style="color:red">
  <%= @downvote.movie_title.upcase %>
  </strong>

  <br />

  <a href="/movie_stats/<%= @downvote.id %>">
  <img src="<%= @downvote.movie_poster %>" style="width:15%;height:15%;">
  </a>
</p>

<br />
-+-+-+-+-+-+-+-
<p>
<a href="/" style="color:blue">Vote Again?</a>
</p>

<p>
<a href="/vote_record" style="color:blue">Vote Record</a>
</p>

</center>