<center><h1> Add Category</h1>

<!-- RETURNS conditional method when controller returns to add screen-->
<!--  due to an "active" pre-existing entry check being flaggged as True in controller  -->
<% if @error == true %>
  <p><%= @category.get_already_exists_error %></p>
  <br>
  <br>
<% end %>
<form  method="POST" action="/categories/add/confirmation">
  Category Name:&emsp;<input type="text" name="add_name" required="required" value="<%= params[:add_name] %>">&emsp;&emsp;

  Image Link(851 x 315px):&emsp;<input type="text" name="add_category_image_link" value="<%= params[:add_category_image_link] %>">&emsp;&emsp;
 
  <br>
  <br>
  Include an optional description of your Category:<br>
  <textarea name="category_description_textarea" cols="70" rows="8">
    <%=  params[:category_description_textarea] %>
    </textarea>
  <br><br>  

  <p> Select the nominees you would like to include in your category: </p>
  <% @nominees.each do |n| %>
    <%if n.locked == false && n.id != nil %>
      <input type="checkbox" name= "checkbox_nominees[]" require="required" value=<%= n.id %>><%= n.name %> <br>
    <% end %>
  <% end %>
  <br>
  <br>
  <input type="submit" value="Add Category">
</form>
<br><br>

</center> 