<h1>BATTLE OF THE BUFFY GANG</h1>

Who is the best of the Buffyverse?

<h2><%= @char1.character_name %> VS <%= @char2.character_name %></h2>
Vote:
<form action="/vote" method="post">
    <input type="hidden" value="<%=@char1.id%>" name="winner" />
    <input type="hidden" value="<%=@char2.id%>" name="loser" />
    <input type="Submit" value="<%=@char1.character_name%>">
</form>

<form action="/vote" method="post">
    <input type="hidden" value="<%=@char2.id%>" name="winner" />
    <input type="hidden" value="<%=@char1.id%>" name="loser" />
    <input type="Submit" value="<%=@char2.character_name%>">
</form>


