<h1> Welcome to cat battle </h1>

	<h2> Choose your favorite cat </h2>

		<ol>
			<li>
				<img src="<%= @cat_1.photo %>" />
					<p>
						<%= @cat_1.name %>
					</p>

					<form action="/cat_like/<%= @cat_1.id %>/<%= @cat_2.id %>" method="post">
				  		 <input type="submit" value="like"> 
				 	</form>
			</li>

			<li> 
				<img src="<%= @cat_2.photo %>" />
					<p>
						<%= @cat_2.name %>
					</p>

					<form action="/cat_like/<%= @cat_2.id %>/<%= @cat_1.id %>" method="post">
			  		 	<input type="submit" value="like"> 
			 		</form>
			</li>
		</ol>

		<a href="/results"> Interested to see who's winning? </a>