<!-- Home Page goes here. Show first two contenders, with buttons to vote. Run through controller, then return to home page for next battle. -->

<html>
<head>
  <meta charset="utf-8">
  <title>Cronenberg Movie Battle</title>
</head>

<body>
<h2>Movies of David Cronenberg</h2>
<br>
[Please vote for your favorite of the two!]
<br>

<%= Movie.find_by_id(@battle.movie_left).movie_name %>



<form action="/vote/<%= @battle.id %>/<%= @battle.movie_left %>/<%= @battle.movie_right %>" method="post">
<input type="submit">
</form>

VERSUS

<%= Movie.find_by_id(@battle.movie_right).movie_name %>


<form action="/vote/<%= @battle.id %>/<%= @battle.movie_right %>/<%= @battle.movie_left %>" method="post">
<input type="submit">
</form>

</body>
</html>
