<h1>BATTLE OF THE <%=@universe.universe_name.upcase%>-VERSE</h1>

<H2>The people have spoken and...<p><%=@winner%> is the best <%=@universe.universe_name%> character!</p></H2>

<h3>The Gang, Ranked:<h3>

<ol>
  <% @arr.each do |post| %>
  <li><%=post[0]%></li>
  <% end %>
</ol>

Shocked? Angry? Disagree? Feel free to <a href="/battle/<%=@universe.id%>">VOTE MORE</a>

Or, to choose a different universe, you can always <a href="/">go home</a>
