

<table border="1">
  <thead>
    <tr>

      <th>Match</th>
      <th>Winners Id!</th>
      <th>Loosers Id!</th>

    </tr>
  </thead>

  <tbody>
  <% @result.each do |x| %>
      <tr>
        <td><%= x.id %></td>
        <td><%= x.win %></td>
        <td><%= x.loose %></td>


      
        
      </tr>
  <% end %>
  </tbody>
</table>

result

<style>
body {
    background-color: silver;
}
</style>
<p>
  <% @dworfs.each do |d| %>
    <img border="0" alt="huh" src="<%= d.image %>" width="300" height="300">
    </a></p>
    <%= d.name %>
    <P>
    <%= d.vote %>
</p>
<% end %>
<p>
<a href = "/">Place another vote!</a>
</p>