
<%@hash.each do |key|%>
<%=key[0]%><%=key[1] %>

<%end%>



<p>
  <% @dworfs.each do |d| %>
    <img border="0" alt="Meier" src="<%= d.image %>" width="300" height="300">
    </a></p>
    <%= d.name %>
    <P>
    <%= d.vote %>
</p>
<% end %>
<p><a href="/">
<img border="0" alt="Meier" src="http://static.nfl.com/static/content/public/image/probowl/ballot/thank-you/btn-ty-vote-again.png" width="100" height="25">
</a>
</p>
<style>
body {
    background-color: silver;
}
</style>