<h2>Here are the results:</h2> 
<% @bands.each do |x| %>
  <p><u><%= x[0] %></u>: <b><%= x[1] %></b> votes!</p>
<% end %>

<br>

<table border="1">
  <thead>
    <tr>
      <th>Match</th>
      <th>Winner</th>
      <th>Loser</th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |x| %>
      <tr>
        <td><%= x.id %></td>
        <td><%= x.winner_name %></td>
        <td><%= x.loser_name %></td>
      </tr>
  <% end %>
  </tbody>
</table>